/*
$breakpoint-small: 480px; // For widths more than 480px
$breakpoint-medium: 768px; // For width more than 768px
$breakpoint-large: 960px; // For width more than 960px
$breakpoint-xlarge: 1220px; // For width more than 1220px
*/

@media (min-width: 480px) {
.kt-register img{
	width:50%;
	top: -20px;
	}

}
@media (max-width: 479px) {

}

@media (min-width: 768px) {
	.kt-register button{
		padding: 22px 300px;
	}
	.kt-register img{
		width:50%;
		top: -30px;
	}


}
@media (min-width: 960px) {
	.kt-register button {
		padding: 22px 50px;
	}
	.kt-register img{
		width:100%;
		top: -70px;
	}

}
@media (max-width: 959px) {
	.kt-navigation ul li{
		display: block;
	}
	.kt-navigation a{
		font: 25px "ProximaNova",Arial,sans-serif;
		font-weight: 700;
	}
	.kt-register p{
		font: 25px/1.1 "OstrichSans", Arial, sans-serif;
	}
	.kt-comment-1{
		left:25%;

	}
	.kt-comment-2{
		left: 25%;
		top:170px;
	}
	.kt-comment-3{
		left: 25%;
		top:370px;
	}
	[class*="comments-line"]{
		width: 340px;
	}
}

@media (min-width: 1220px) {
}